PORT=8080
FORM_RECIPIENT=loesport@gmail.com,sanchezginesizan@gmail.com
GMAIL_SENDER=sanchezginesizan@gmail.com
ALLOWED_ORIGINS=https://loesport-new-web.vercel.app,https://loesport.es,https://www.loesport.es
FORM_API_TARGET=https://loesport-web-473754422972.europe-southwest1.run.app
VITE_FORM_API_ENDPOINT=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
